<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/AndiiiGithub/">Andres</a>. A program and coding hobbyist on a mission to create plateforms and outlets for people with specific skills, talents, and admirations.
  </p>
  <br />
  <p>
    During this project I have learned a lot about what goes into building a web app and also the fundimental understand on how a web app is connected to the internet for everyone around the world to enjoy.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img_fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Andres Lopez</h2>
      <br />
      <p>
        Andres is a junior web developer and aspiring to be a software engineer.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />



</div>